*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #a8dadc;
  --secondary-color: #e63946;
  --text-color: #ffe8d6;
  --secondary-text-color: #1d3557;
  --background-color: #457b9d;
  --border-color: #f1faee;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;

  /* background-color: var(--secondary-text-color); */
  margin: 0;
  padding-top: 2em;
  grid-template-rows: 3em auto auto;
  grid-gap: 2em;
  display: grid;
  height: 100vh;
  width: 100vw;

  /* background-image: url("./assets/space.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed; */
}

body {
  margin: 0;
  height: 100vh;
}

.hero {
  color: black;
  display: grid;

  /* justify-content: end; */
  grid-template-columns: auto auto auto;
  width: 100vw;
}

ul {
  display: grid;
  margin: 0;
  justify-content: end;
  grid-template-columns: auto auto auto auto;
  padding: 0 0;
  justify-self: center;
  list-style-type: none;
  color: white;
  border-top-left-radius: 1em;
}

ul a {
  padding: 0 2em;
  align-self: center;
  text-decoration: none;
  color: white;
}

.hero input {
  background-color: transparent;
  text-align: center;
  border-style: solid;
  color: white;
  border-radius: 10em;
}
.hero input::placeholder {
  color: white;
}

footer {
  align-self: end;
  grid-row: 3;
  padding-bottom: 2em;
}

section img {
  width: 20em;
}

.hero img {
  height: 4em;
  justify-self: center;
}

.itemSection {
  grid-gap: 1.5em;
  width: 100vw;
  padding: 0 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: scroll;
}

.itemCard {
  width: 20em;
  text-align: justify;
}

.itemCard p {
  text-justify: auto;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
